<div class="container">
    <form (submit)="addnewUser($event)">
        <div class="form-group">
            <label for="groupid">Group ID</label>
            <input type="number" class="form-control" id="groupid" [(ngModel)]="groupid" name="groupid" placeholder="ID" />
            <div [@iderrorState]="stateName" class="alert alert-warning" id="iderrormsg" role="alert">
                {{ iderrormsg }} {{ iderrormsg2 }}
            </div>
        </div>
        <div class="form-group">
            <label for="groupid">Group Name</label>
            <input type="text" class="form-control" id="groupname" [(ngModel)]="groupname" name="groupname" />
        </div>


        <div class="form-group">
            <button type="submit" class="btn btn-primary">
        <i class="fa fa-plus-square"></i> Add New
      </button>
        </div>
        <div [@noticeState]="noticeName" class="alert alert-warning" role="alert">
            {{ newUserMessage }}
        </div>
    </form>
</div>